@media (max-width: 991px) {

    /* header css start */
    .inner-main-header {
        padding: 5px 16px;
        background-color: #FFFEFA;
    }
    .apart-logo {
        display: inline-block;
        margin: 0 auto;
        justify-self: center;
    }
    .change-property {
        /* margin-left: auto; */
        --padding-start: 0;
        --padding-end: 0;
    }
    .inner-main-header::before {
        width: 46px;
        height: 1px;
        background: linear-gradient(to right, rgba(128,128,128,1) 0%,rgba(128,128,128,0.9) 50%,rgba(128,128,128,0.8) 100%);
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        border-radius: 2px;
    }
    .change-property .proerty-name {
        bottom: -9px;
        margin-left: -6px;
    }
    /* header css end */

    /* footer css start */
    ion-footer {
        background-color: #EFEFEF;
        padding: 5px 0;
    }
    body ion-footer .button.button-clear {
        height: 100%;
        margin: 0;
    }
    .footer-bottom-col {
        padding-top: 0;
        padding-bottom: 0;
    }
    .footer-notification-button ion-icon {
        font-size: 25px;
    }
    .footer-home-button ion-icon {
        font-size: 25px;
    }
    .footer-message-button ion-icon {
        font-size: 30px;
        position: relative;
        top: 3px;
    }
    .footer-menu-button ion-icon {
        font-size: 40px;
        position: relative;
        top: 5px;
    }
    /* footer css end */

    /* Management Dashboard css start */
    .dashboard-wrapper {
        background-color: #fcfcfc;
        --background: #fcfcfc;
    }
    .dashboard-wrapper .dashboard-main-grid {
        padding-bottom: 50px;
    }
    .dashboard-content {
        order: 1;
    }
    .dashboard-sidebar {
        order: 2;
        margin-top: 30px;
        background-color: #fcfcfc;
    }
    .dashboard-wrapper .dashboard-main-row > ion-col {
        padding: 0 16px;
    }
    .dashboard-wrapper .sidebar-menu-list {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        margin: 0 -17.5px;
    }
    .dashboard-sidebar ion-item {
        flex: 33.33%;
        max-width: 33.33%;
        --background: #fff;
        --border-width: 1px;
        --border-color: #7c7c7c;
        --border-radius: 12px;
        padding: 0 17.5px;
    }
    body .button.dashboard-button {
        padding: 5px 15px;
        --padding-start: 0;
        --padding-end: 0;
        min-height: 108px;
        display: flex;
        align-items: center;
    }
    .dashboard-button-inner {
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
    }
    .dashboard-button ion-avatar {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .item .dashboard-button .dashboard-button-label {
        text-align: center;
    }
    .change-property-popup .popover-content {
        top: 70px !important;
        left: auto !important;
        right: 19px;
    }
    .change-property-popup .popover-arrow {
        display: none;
    }
    .change-property-popup {
        --width: 50vw;
    }
    .property-list-item {
        background-size: cover;
    }
    /* Management Dashboard css close */

    /* Manage properties css start */
    .manage-property-wrapper .dashboard-sidebar {
        display: none;
    }
    /* Manage properties css end */
}


@media (max-width: 767px) {

    /* header css start */
    .logo {
        max-width: 36vw;
    }
    /* header css close */

    /* Management Dashboard css start */
    .dashboard-sidebar ion-item {
        flex: 50%;
        max-width: 50%;
    }
    /* Management Dashboard css close */
}


@media (max-width: 767px) and (orientation : landscape)  {

    /* header css start */
    .main-header {
        padding: 15px 0;
    }
    .logo {
        max-width: 100px;
    }
    /* header css close */
}


@media (max-width: 575px) {

    /* header css start */
    .main-header {
        border-radius: 0 0 10px 10px;
        padding: 25px 0;
    }
    /* header css close */

    /* login css start */
    body .button.button-block {
        font-size: 16px;
        --padding-start: 15px;
        --padding-end: 15px;
    }
    .login-form .password-field {
        margin-top: 5px;
    }
    .login-form .forget-password {
        margin-top: 0px;
    }
    .login-form .sign-up-btn,
    .login-form .login-btn {
        margin-top: 22px;
    }
    .login-form .gmail-btn {
        margin-top: 12px;
    }
    /* login css end */

    /* signup css start */
    .user-select-item {
        --padding-start: 20px;
        --padding-end: 20px;
    }
    .user-select-item ion-label p {
        max-width: 214px;
    }
    .signup-form ion-radio-group ion-item {
        --min-height: 105px;
    }
    /* signup css end */

    /* Management Dashboard css start */
    .item .dashboard-button .dashboard-button-label {
        font-size: 13px;
    }
    .change-property-popup {
        --width: 90vw;
    }
    body .change-property-button.button {
        margin-top: 25px;
    }
    body .change-property-popup .button.button-block.button-solid {
        font-size: 12px;
    }
    
.property-fab-button ion-fab-button {
    width: 40px;
    height: 40px;
}
.property-fab-button ion-fab-button ion-icon {
    font-size: 28px;
}
    /* Management Dashboard css close */
}

@media (max-width: 320px) {

    /* footer css start */
    .change-property-popup .button-solid ion-icon {
        flex: 0 0 30px;
        max-width: 30px;
        margin-right: 3px;
    }
    /* footer css end */

    /* Management Dashboard css start */
    .change-property-popup-wrapper .user-select-item.item ion-label {
        font-size: 16px;
    }
    .change-property-popup-wrapper .user-select-item ion-label p {
        font-size: 14px;
    }
    /* Management Dashboard css end */
}